test/data/ filter=lfs diff=lfs merge=lfs -text
test/data/graphical/graph/30-dynamic.dot filter=lfs diff=lfs merge=lfs -text
test/data/graphs/graph50.txt filter=lfs diff=lfs merge=lfs -text
test/data/dnnf/both_bdd_dnnf_2.cnf filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/unsat/pret60_25.cnf filter=lfs diff=lfs merge=lfs -text
test/data/partialweightedmaxsat/large/large_weights.wcnf filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/unsat/aim-100-1_6-no-4.cnf filter=lfs diff=lfs merge=lfs -text
test/data/graphical/bdd/formula_bdd.txt filter=lfs diff=lfs merge=lfs -text
test/data/graphical/bdd/false_bdd.dot filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/sat/med19.shuffled.cnf filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/unsat/pret150_25.cnf filter=lfs diff=lfs merge=lfs -text
test/data/dnnf/both_bdd_dnnf_3.cnf filter=lfs diff=lfs merge=lfs -text
test/data/graphical/formulas-ast/f8-ownLabels.dot filter=lfs diff=lfs merge=lfs -text
test/data/graphical/formulas-ast/false.dot filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/unsat/aim-200-2_0-no-4.cnf filter=lfs diff=lfs merge=lfs -text
test/data/longrunning_wms/frb10-6-3.wcnf filter=lfs diff=lfs merge=lfs -text
test/data/partialweightedmaxsat/bmo/normalized-factor-size=9-P=17-Q=487.opb.wcnf filter=lfs diff=lfs merge=lfs -text
test/data/graphical/formulas-ast/f2.dot filter=lfs diff=lfs merge=lfs -text
test/data/graphical/bdd/a_bdd.txt filter=lfs diff=lfs merge=lfs -text
test/data/graphical/graph/small.txt filter=lfs diff=lfs merge=lfs -text
test/data/longrunning_wms/frb25-13-1.wcnf filter=lfs diff=lfs merge=lfs -text
test/data/dnnf/both_bdd_dnnf_5.cnf filter=lfs diff=lfs merge=lfs -text
test/data/longrunning_wms/frb25-13-5.wcnf filter=lfs diff=lfs merge=lfs -text
test/data/graphs filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/unsat/aim-100-2_0-no-1.cnf filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/unsat/aim-50-1_6-no-4.cnf filter=lfs diff=lfs merge=lfs -text
test/data/formulas/large.txt filter=lfs diff=lfs merge=lfs -text
test/data/graphical/formulas-ast/not_x.txt filter=lfs diff=lfs merge=lfs -text
test/data/longrunning_wms/ram_k3_n6.ra1.wcnf filter=lfs diff=lfs merge=lfs -text
test/data/partialweightedmaxsat/54.wcsp.log.wcnf filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/sat filter=lfs diff=lfs merge=lfs -text
test/data/longrunning_wms/frb10-6-4.wcnf filter=lfs diff=lfs merge=lfs -text
test/data/graphical/bdd/not_a_bdd.dot filter=lfs diff=lfs merge=lfs -text
test/data/graphical/formulas-ast filter=lfs diff=lfs merge=lfs -text
test/data/graphical/graph/small-fixedStyle.dot filter=lfs diff=lfs merge=lfs -text
test/data/dimacs filter=lfs diff=lfs merge=lfs -text
test/data/graphical/bdd/or_bdd.txt filter=lfs diff=lfs merge=lfs -text
test/data/graphical/formulas-dag/f7.dot filter=lfs diff=lfs merge=lfs -text
test/data/graphical/formulas-dag/x.txt filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/unsat/aim-200-2_0-no-3.cnf filter=lfs diff=lfs merge=lfs -text
test/data/maxsat/c-fat200-2.clq.cnf filter=lfs diff=lfs merge=lfs -text
test/data/longrunning_wms/file_rwms_wcnf_L3_V70_C300_3.wcnf filter=lfs diff=lfs merge=lfs -text
test/data/longrunning_wms filter=lfs diff=lfs merge=lfs -text
test/data/longrunning_wms/frb20-11-4.wcnf filter=lfs diff=lfs merge=lfs -text
test/data/partialmaxsat/c1355_F1229gat@1.wcnf filter=lfs diff=lfs merge=lfs -text
test/data/graphical/formulas-ast/f1.txt filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/unsat/grid_10_20.shuffled.cnf filter=lfs diff=lfs merge=lfs -text
test/data/graphical/formulas-ast/f7.txt filter=lfs diff=lfs merge=lfs -text
test/data/maxsat/c5315-bug-gate-0.dimacs.seq.filtered.cnf filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/unsat/aim-100-2_0-no-4.cnf filter=lfs diff=lfs merge=lfs -text
test/data/graphical/bdd/impl_bdd.txt filter=lfs diff=lfs merge=lfs -text
test/data/graphical/formulas-ast/f3.txt filter=lfs diff=lfs merge=lfs -text
test/data/graphical/formulas-ast/f9.dot filter=lfs diff=lfs merge=lfs -text
test/data/partialweightedmaxsat/bmo/normalized-factor-size=9-P=11-Q=53.opb.wcnf filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/sat/c499_gr_rcs_w6.shuffled.cnf filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/unsat/avg-checker-4-23.shuffled.cnf filter=lfs diff=lfs merge=lfs -text
test/data/graphical/bdd/a_bdd.dot filter=lfs diff=lfs merge=lfs -text
test/data/graphical/formulas-dag/f3.txt filter=lfs diff=lfs merge=lfs -text
test/data/graphical/formulas-dag/f5.txt filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/unsat/aim-50-2_0-no-3.cnf filter=lfs diff=lfs merge=lfs -text
test/data/graphical/formulas-ast/f10.dot filter=lfs diff=lfs merge=lfs -text
test/data/graphical/formulas-ast/f10.txt filter=lfs diff=lfs merge=lfs -text
test/data/graphical/formulas-dag/f2.dot filter=lfs diff=lfs merge=lfs -text
test/data/longrunning_wms/file_rwms_wcnf_L2_V100_C300_0.wcnf filter=lfs diff=lfs merge=lfs -text
test/data/partialweightedmaxsat filter=lfs diff=lfs merge=lfs -text
test/data/graphical/bdd/equiv_bdd.txt filter=lfs diff=lfs merge=lfs -text
test/data/graphical/formulas-dag/not_x.txt filter=lfs diff=lfs merge=lfs -text
test/data/graphical/formulas-dag/true.txt filter=lfs diff=lfs merge=lfs -text
test/data/graphical/formulas-dag/x.dot filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/unsat/pret150_75.cnf filter=lfs diff=lfs merge=lfs -text
test/data/graphs/graph30.txt filter=lfs diff=lfs merge=lfs -text
test/data/partialweightedmaxsat/8.wcsp.log.wcnf filter=lfs diff=lfs merge=lfs -text
test/data/partialweightedmaxsat/bmo/normalized-factor-size=9-P=17-Q=347.opb.wcnf filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/unsat/3col40_5_10.shuffled.cnf filter=lfs diff=lfs merge=lfs -text
test/data/longrunning_wms/file_rwms_wcnf_L3_V70_C300_7.wcnf filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/unsat/avg_input.cnf filter=lfs diff=lfs merge=lfs -text
test/data/formulas filter=lfs diff=lfs merge=lfs -text
test/data/graphical/bdd/true_bdd.dot filter=lfs diff=lfs merge=lfs -text
test/data/graphical/formulas-dag/f1.txt filter=lfs diff=lfs merge=lfs -text
test/data/graphical/formulas-dag/f7.txt filter=lfs diff=lfs merge=lfs -text
test/data/graphical/graph/30.dot filter=lfs diff=lfs merge=lfs -text
test/data/longrunning_wms/frb15-9-4.wcnf filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/sat/bart30.shuffled.cnf filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/unsat/aim-200-2_0-no-2.cnf filter=lfs diff=lfs merge=lfs -text
test/data/graphical/bdd/equiv_bdd.dot filter=lfs diff=lfs merge=lfs -text
test/data/graphical/formulas-ast/f2.txt filter=lfs diff=lfs merge=lfs -text
test/data/graphical/formulas-ast/f4.dot filter=lfs diff=lfs merge=lfs -text
test/data/graphical/graph/small.dot filter=lfs diff=lfs merge=lfs -text
test/data/longrunning_wms/file_rwms_wcnf_L3_V70_C300_8.wcnf filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/unsat/aim-50-2_0-no-1.cnf filter=lfs diff=lfs merge=lfs -text
test/data/partialweightedmaxsat/term1_gr_2pin_w4.shuffled.cnf filter=lfs diff=lfs merge=lfs -text
test/data/dnnf/both_bdd_dnnf_4.cnf filter=lfs diff=lfs merge=lfs -text
test/data/longrunning_wms/file_rwms_wcnf_L3_V70_C300_4.wcnf filter=lfs diff=lfs merge=lfs -text
test/data/longrunning_wms/frb20-11-3.wcnf filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/unsat/x1_16.shuffled.cnf filter=lfs diff=lfs merge=lfs -text
test/data/graphical/bdd/formula_bdd.dot filter=lfs diff=lfs merge=lfs -text
test/data/partialmaxsat filter=lfs diff=lfs merge=lfs -text
test/data/partialmaxsat/normalized-s3-3-3-3pb.wcnf filter=lfs diff=lfs merge=lfs -text
test/data/partialweightedmaxsat/bmo filter=lfs diff=lfs merge=lfs -text
test/data/partialweightedmaxsat/bmo/normalized-factor-size=9-P=11-Q=283.opb.wcnf filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/unsat/aim-50-1_6-no-2.cnf filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/sat/example2_gr_rcs_w6.shuffled.cnf filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/unsat/aim-100-2_0-no-2.cnf filter=lfs diff=lfs merge=lfs -text
test/data/dnnf filter=lfs diff=lfs merge=lfs -text
test/data/graphical/formulas-ast/f1.dot filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/sat/9symml_gr_rcs_w6.shuffled.cnf filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/unsat/ca032.shuffled.cnf filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/unsat/pg4_input.cnf filter=lfs diff=lfs merge=lfs -text
test/data/graphical/formulas-dag/not_x.dot filter=lfs diff=lfs merge=lfs -text
test/data/graphical/graph/small-fixedStyle.txt filter=lfs diff=lfs merge=lfs -text
test/data/longrunning_wms/ram_k3_n5.ra1.wcnf filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/unsat/aim-50-2_0-no-2.cnf filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/unsat/ca064.shuffled.cnf filter=lfs diff=lfs merge=lfs -text
test/data/graphical/bdd/impl_bdd.dot filter=lfs diff=lfs merge=lfs -text
test/data/graphical/formulas-ast/f4.txt filter=lfs diff=lfs merge=lfs -text
test/data/graphical/formulas-ast/f7.dot filter=lfs diff=lfs merge=lfs -text
test/data/graphical/formulas-dag/f6.dot filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/unsat/aim-50-1_6-no-3.cnf filter=lfs diff=lfs merge=lfs -text
test/data/formulas/small.txt filter=lfs diff=lfs merge=lfs -text
test/data/longrunning_wms/frb20-11-5.wcnf filter=lfs diff=lfs merge=lfs -text
test/data/partialweightedmaxsat/bmo/normalized-factor-size=9-P=23-Q=293.opb.wcnf filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/unsat/aim-100-1_6-no-3.cnf filter=lfs diff=lfs merge=lfs -text
test/data/longrunning_wms/frb25-13-2.wcnf filter=lfs diff=lfs merge=lfs -text
test/data/graphical/formulas-ast/true.dot filter=lfs diff=lfs merge=lfs -text
test/data/graphical/bdd/formula-fixedStyle_bdd.txt filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/unsat/aim-50-1_6-no-1.cnf filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/unsat/aim-200-1_6-no-1.cnf filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/unsat/pret150_40.cnf filter=lfs diff=lfs merge=lfs -text
test/data/graphical/formulas-ast/f6.txt filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/unsat/aim-100-1_6-no-2.cnf filter=lfs diff=lfs merge=lfs -text
test/data/longrunning_wms/frb10-6-2.wcnf filter=lfs diff=lfs merge=lfs -text
test/data/longrunning_wms/frb15-9-1.wcnf filter=lfs diff=lfs merge=lfs -text
test/data/partialweightedmaxsat/large/large_industrial.wcnf filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/unsat/aim-200-1_6-no-3.cnf filter=lfs diff=lfs merge=lfs -text
test/data/graphical/bdd/formula-fixedStyle_bdd.dot filter=lfs diff=lfs merge=lfs -text
test/data/graphical/formulas-dag/f4.dot filter=lfs diff=lfs merge=lfs -text
test/data/graphical/formulas-dag/f8.txt filter=lfs diff=lfs merge=lfs -text
test/data/formulas/bdd_small.txt filter=lfs diff=lfs merge=lfs -text
test/data/graphical/formulas-ast/f8.dot filter=lfs diff=lfs merge=lfs -text
test/data/longrunning_wms/file_rwms_wcnf_L3_V70_C300_2.wcnf filter=lfs diff=lfs merge=lfs -text
test/data/longrunning_wms/frb25-13-4.wcnf filter=lfs diff=lfs merge=lfs -text
test/data/maxsat/mot_comb1._red-gate-0.dimacs.seq.filtered.cnf filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/unsat/aim-100-2_0-no-3.cnf filter=lfs diff=lfs merge=lfs -text
test/data/formulas/large2.txt filter=lfs diff=lfs merge=lfs -text
test/data/graphical/bdd filter=lfs diff=lfs merge=lfs -text
test/data/longrunning_wms/frb25-13-3.wcnf filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/unsat/pret60_60.cnf filter=lfs diff=lfs merge=lfs -text
test/data/graphical/formulas-dag/f2.txt filter=lfs diff=lfs merge=lfs -text
test/data/graphical/formulas-ast/f5.dot filter=lfs diff=lfs merge=lfs -text
test/data/longrunning_wms/ram_k3_n4.ra1.wcnf filter=lfs diff=lfs merge=lfs -text
test/data/graphical/bdd/false_bdd.txt filter=lfs diff=lfs merge=lfs -text
test/data/graphical/graph/30.txt filter=lfs diff=lfs merge=lfs -text
test/data/maxsat/mot_comb3._red-gate-0.dimacs.seq.filtered.cnf filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/unsat/bf0432-007.cnf filter=lfs diff=lfs merge=lfs -text
test/data/graphical/bdd/and_bdd.dot filter=lfs diff=lfs merge=lfs -text
test/data/graphical/formulas-dag/f9.dot filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/unsat/pret150_60.cnf filter=lfs diff=lfs merge=lfs -text
test/data/graphical/formulas-ast/f3.dot filter=lfs diff=lfs merge=lfs -text
test/data/graphical/formulas-ast/f9.txt filter=lfs diff=lfs merge=lfs -text
test/data/graphical/formulas-dag/f10.dot filter=lfs diff=lfs merge=lfs -text
test/data/formulas/mid.txt filter=lfs diff=lfs merge=lfs -text
test/data/graphical/formulas-dag filter=lfs diff=lfs merge=lfs -text
test/data/graphical/formulas-dag/false.txt filter=lfs diff=lfs merge=lfs -text
test/data/longrunning_wms/frb20-11-1.wcnf filter=lfs diff=lfs merge=lfs -text
test/data/partialmaxsat/c1355_F1183gat-1262gat@1.wcnf filter=lfs diff=lfs merge=lfs -text
test/data/graphical/bdd/formula-dynamic_bdd.dot filter=lfs diff=lfs merge=lfs -text
test/data/graphical/formulas-ast/f6.dot filter=lfs diff=lfs merge=lfs -text
test/data/maxsat filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/sat/apex7_gr_rcs_w5.shuffled.cnf filter=lfs diff=lfs merge=lfs -text
test/data/longrunning_wms/frb10-6-1.wcnf filter=lfs diff=lfs merge=lfs -text
test/data/maxsat/c6288-bug-gate-0.dimacs.seq.filtered.cnf filter=lfs diff=lfs merge=lfs -text
test/data/partialweightedmaxsat/bmo/normalized-factor-size=9-P=13-Q=179.opb.wcnf filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/unsat/aim-200-1_6-no-2.cnf filter=lfs diff=lfs merge=lfs -text
test/data/graphical/formulas-ast/not_x.dot filter=lfs diff=lfs merge=lfs -text
test/data/graphical/formulas-dag/f4.txt filter=lfs diff=lfs merge=lfs -text
test/data/graphical/formulas-dag/f8.dot filter=lfs diff=lfs merge=lfs -text
test/data/graphical/formulas-dag/f9.txt filter=lfs diff=lfs merge=lfs -text
test/data/maxsat/mot_comb2._red-gate-0.dimacs.seq.filtered.cnf filter=lfs diff=lfs merge=lfs -text
test/data/partialmaxsat/c1355_F176gat-1278gat@1.wcnf filter=lfs diff=lfs merge=lfs -text
test/data/graphical/formulas-ast/false.txt filter=lfs diff=lfs merge=lfs -text
test/data/graphical/formulas-ast/x.txt filter=lfs diff=lfs merge=lfs -text
test/data/longrunning_wms/frb15-9-3.wcnf filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/unsat/pret60_40.cnf filter=lfs diff=lfs merge=lfs -text
test/data/graphical/formulas-dag/f6.txt filter=lfs diff=lfs merge=lfs -text
test/data/graphical/formulas-dag/true.dot filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/unsat/pret60_75.cnf filter=lfs diff=lfs merge=lfs -text
test/data/graphical/graph/30-dynamic.txt filter=lfs diff=lfs merge=lfs -text
test/data/longrunning_wms/result.txt filter=lfs diff=lfs merge=lfs -text
test/data/partialweightedmaxsat/404.wcsp.log.wcnf filter=lfs diff=lfs merge=lfs -text
test/data/graphical/formulas-dag/f5.dot filter=lfs diff=lfs merge=lfs -text
test/data/dnnf/both_bdd_dnnf_1.cnf filter=lfs diff=lfs merge=lfs -text
test/data/formulas/simplify_formulas.txt filter=lfs diff=lfs merge=lfs -text
test/data/graphical/formulas-dag/f1.dot filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/sat/dp02s02.shuffled.cnf filter=lfs diff=lfs merge=lfs -text
test/data/graphical/formulas-dag/f3.dot filter=lfs diff=lfs merge=lfs -text
test/data/graphical/graph filter=lfs diff=lfs merge=lfs -text
test/data/longrunning_wms/file_rwms_wcnf_L3_V70_C300_1.wcnf filter=lfs diff=lfs merge=lfs -text
test/data/partialweightedmaxsat/large filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/unsat/aim-200-1_6-no-4.cnf filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/unsat/aim-50-2_0-no-4.cnf filter=lfs diff=lfs merge=lfs -text
test/data/graphical/bdd/or_bdd.dot filter=lfs diff=lfs merge=lfs -text
test/data/graphical/formulas-ast/f5.txt filter=lfs diff=lfs merge=lfs -text
test/data/graphical/formulas-ast/true.txt filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/sat/D1119_M23.cnf filter=lfs diff=lfs merge=lfs -text
test/data/graphical/bdd/and_bdd.txt filter=lfs diff=lfs merge=lfs -text
test/data/partialmaxsat/normalized-s3-3-3-1pb.wcnf filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/unsat/bf2670-001.cnf filter=lfs diff=lfs merge=lfs -text
test/data/graphical/bdd/not_a_bdd.txt filter=lfs diff=lfs merge=lfs -text
test/data/maxsat/s15850-bug-onevec-gate-0.dimacs.seq.filtered.cnf filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/unsat/bf1355-638.cnf filter=lfs diff=lfs merge=lfs -text
test/data/graphical/bdd/not_bdd.txt filter=lfs diff=lfs merge=lfs -text
test/data/graphical/bdd/true_bdd.txt filter=lfs diff=lfs merge=lfs -text
test/data/graphical/formulas-ast/x.dot filter=lfs diff=lfs merge=lfs -text
test/data/longrunning_wms/file_rwms_wcnf_L3_V70_C300_0.wcnf filter=lfs diff=lfs merge=lfs -text
test/data/longrunning_wms/frb15-9-2.wcnf filter=lfs diff=lfs merge=lfs -text
test/data/graphical/bdd/formula-dynamic_bdd.txt filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/unsat/too_large_gr_rcs_w6.shuffled.cnf filter=lfs diff=lfs merge=lfs -text
test/data/longrunning_wms/file_rwms_wcnf_L3_V70_C300_6.wcnf filter=lfs diff=lfs merge=lfs -text
test/data/maxsat/c7552-bug-gate-0.dimacs.seq.filtered.cnf filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/unsat filter=lfs diff=lfs merge=lfs -text
test/data/graphical/formulas-ast/f8-ownLabels.txt filter=lfs diff=lfs merge=lfs -text
test/data/partialmaxsat/term1_gr_2pin_w4.shuffled.cnf filter=lfs diff=lfs merge=lfs -text
test/data/graphical filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/unsat/aim-100-1_6-no-1.cnf filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/unsat/aim-200-2_0-no-1.cnf filter=lfs diff=lfs merge=lfs -text
test/data/graphical/formulas-dag/f10.txt filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/sat/term1_gr_rcs_w4.shuffled.cnf filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/unsat/term1_gr_rcs_w3.shuffled.cnf filter=lfs diff=lfs merge=lfs -text
test/data/graphical/formulas-ast/f8.txt filter=lfs diff=lfs merge=lfs -text
test/data/longrunning_wms/file_rwms_wcnf_L3_V70_C300_5.wcnf filter=lfs diff=lfs merge=lfs -text
test/data/longrunning_wms/file_rwms_wcnf_L3_V70_C300_9.wcnf filter=lfs diff=lfs merge=lfs -text
test/data/partialmaxsat/normalized-s3-3-3-2pb.wcnf filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/unsat/9symml_gr_rcs_w5.shuffled.cnf filter=lfs diff=lfs merge=lfs -text
test/data/formulas/small_formulas.txt filter=lfs diff=lfs merge=lfs -text
test/data/longrunning_wms/frb15-9-5.wcnf filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/unsat/simple_input.cnf filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/unsat/too_large_gr_rcs_w5.shuffled.cnf filter=lfs diff=lfs merge=lfs -text
test/data/graphical/formulas-dag/false.dot filter=lfs diff=lfs merge=lfs -text
test/data/longrunning_wms/frb20-11-2.wcnf filter=lfs diff=lfs merge=lfs -text
test/data/partialmaxsat/c1355_F1001gat-1048gat@1.wcnf filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/unsat/bf1355-075.cnf filter=lfs diff=lfs merge=lfs -text
test/data/graphical/bdd/not_bdd.dot filter=lfs diff=lfs merge=lfs -text
test/data/partialweightedmaxsat/large/t3g3-5555.spn.wcnf filter=lfs diff=lfs merge=lfs -text
test/data/dimacs/unsat/ca128.shuffled.cnf filter=lfs diff=lfs merge=lfs -text
